{% extends 'base.html.twig' %}

{% block title %}Nouveau commentaire
{% endblock %}

{% block body %}
	<h1>Créé un nouveau commentaire</h1>

	{{ include('admin/comments/_form.html.twig') }}

	<a href="{{ path('admin_comments_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
